<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Getting Started: Spring Boot Demo</title>
</head>

<body>
    <p th:text="'Hello, ' + ${name} + '!'" />

    <p th:if="${userCount == 0}">
        <span>No User Available</span>
    </p>
    <p>
        <span>Total Users: <span th:text="${userCount}">1</span></span>
    </p>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.name}"></td>
                <td th:text="${user.age}"></td>
            </tr>
        </tbody>
    </table>
</body>

</html>